:root {
    --main-color: #0F172A;
    --secondary-color: #1F7A8C;
    --secondary-color-light: #e7edef;
    --secondary-color-light-2: #b9dee3;
    --accent-color: #E6B655;
    --background-color: #F4F7FB;
    --text-color: #1E293B;
    --border-radius-small: 10px;
    --border-gray: #b3b4b8;
    --text-gray: #6b7280;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--text-color);
    background-color: var(--background-color);


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 5em;
    line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
}

.sub {
    color: var(--text-gray);
    font-style: italic;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

.fancy-text {
    background: linear-gradient(
            90deg,
            #9580ff,
            #1F7A8C,
            var(--main-color)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 4em;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 3em;
    }
}